@import '../../../shared/scss/whatsapp';

:host {
  top: 0;
  margin: auto;
  transform: none;
  visibility: visible;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
  justify-content: center;
  width: 100%; /* For small screens */
  max-width: 1140px; /* For large screens */
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-right: 0;
  z-index: 1;
  position: fixed;
  color: $white-chocolate;
  background-color: $teal-green;

  .container {
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      justify-content: start;

      a {
        padding: 0;
      }
    }

    .right {
    }
  }
}
