<h1>H1 - {{ getLoremSentence() }}</h1>
<p>{{ getLoremParagrapth() }}</p>

<h2>H2 - {{ getLoremSentence() }}</h2>
<p>{{ getLoremParagrapth() }}</p>

<h3>H3 - {{ getLoremSentence() }}</h3>
<p>{{ getLoremParagrapth() }}</p>

<h4>H4 - {{ getLoremSentence() }}</h4>
<p>{{ getLoremParagrapth() }}</p>

<h5>H5 - {{ getLoremSentence() }}</h5>
<p>{{ getLoremParagrapth() }}</p>

<h6>H6 - {{ getLoremSentence() }}</h6>
<p>{{ getLoremParagrapth() }}</p>

<p *ngFor="let item of [].constructor(10)">{{ getLoremParagrapths() }}</p>
