<mat-card style="width: 640px; margin: 16px">
  <mat-card-title>Video</mat-card-title>
  <div
    mat-card-image
    plyr
    plyrTitle="Custom video"
    [plyrPlaysInline]="true"
    [plyrCrossOrigin]="true"
    [plyrPoster]="poster"
    [plyrSources]="videoSources"
    [plyrTracks]="tracks"
    (plyrInit)="player = $event"
  ></div>
</mat-card>

<mat-card style="width: 640px; margin: 16px">
  <mat-card-title>Audio</mat-card-title>
  <div
    mat-card-image
    plyr
    plyrTitle="Audio"
    plyrType="audio"
    [plyrPlaysInline]="true"
    [plyrCrossOrigin]="true"
    [plyrSources]="audioSources"
  ></div>
</mat-card>

<mat-card style="width: 640px; margin: 16px">
  <mat-card-title>Youtube</mat-card-title>
  <div
    mat-card-image
    plyr
    plyrTitle="Video from Youtube"
    [plyrSources]="youtubeSources"
  ></div>
</mat-card>

<mat-card style="width: 640px; margin: 16px">
  <mat-card-title>Vimeo</mat-card-title>
  <div
    mat-card-image
    plyr
    plyrTitle="Video from Vimeo"
    [plyrSources]="vimeoSources"
  ></div>
</mat-card>
