<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Recent Posts</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef> Extension</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.ext}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

