:host {
  top: 0;
  bottom: 0;
  transform: none;
  visibility: visible;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
  width: 55px;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  border-right: 0;
  z-index: 2;
  position: fixed;
  background-color: #ffffff;
}