:host {
  top: 0;
  bottom: 0;
  transform: none;
  visibility: visible;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
  width: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-right: 0;
  z-index: 2;
  position: fixed;
  background-color: #3f51b5;

  .container {
    width: 100%; /* For small screens */
    max-width: 50px; /* For large screens */
  }
}
